.cursor
.cursor__block__wrapper
    .cursor__block
        .cursor__block__inner.cursor__scroll
            p.text Scroll
        .cursor__block__inner.cursor__view
            p.text View
        .cursor__block__inner.cursor__play
            p.text Play
