nav.navigation#navigation
   .container
      a.logo#logo(href="/") EVIL-STUDIO
      .nav__links
         .magnet
            a.nav__btn.active(href="/") Home
         .magnet
            a.nav__btn(href="/about") About
         .magnet
            a.nav__btn(href="/portfolio") Portfolio
         .magnet
            a.nav__btn(href="/contact") Contact
      button.hamb__btn
         .dot
         .dot
         .dot

.hamb__menu
   .hamb__menu__inner
      a.hamb__menu__link.splitter(href="/") Home
      a.hamb__menu__link.splitter(href="/about") About Us
      a.hamb__menu__link.splitter(href="/portfolio") Portfolio
      a.hamb__menu__link.splitter(href="/contact") Contact
