.preloader
    .preloader__wrapper
        .preloader__text__wrapper
            h1.preloader__text EXORSE
    .preloader__number
        .preloader__number__text 0%


.overlay
    svg.transition(viewBox="0 0 100 100" preserveAspectRatio="none")
        path.path#path(stroke="#e0ccbb" fill="#e0ccbb" stroke-width="1px" dur="10s" vector-effect="none-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 Z")
