.preloader
   .preloader__number
        .preloader__number__text 0%

.overlay
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
