.preloader
    .preloader__wrapper
        .preloader__line
            p.preloader__text
                span.preloader__text__span E
        .preloader__line
            p.preloader__text
                span.preloader__text__span V
        .preloader__line
            p.preloader__text
                span.preloader__text__span I
        .preloader__line
            p.preloader__text
                span.preloader__text__span L
        .preloader__line
            p.preloader__text
                span.preloader__text__span S
        .preloader__line
            p.preloader__text
                span.preloader__text__span T
        .preloader__line
            p.preloader__text
                span.preloader__text__span U
        .preloader__line
            p.preloader__text
                span.preloader__text__span D
        .preloader__line
            p.preloader__text
                span.preloader__text__span I
        .preloader__line
            p.preloader__text
                span.preloader__text__span O
    .preloader__number
        .preloader__number__text 0%

.overlay
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
