.preloader
    .preloader__wrapper
        .preloader__text__wrapper
            h1.preloader__text EXORSE
    .preloader__number
        .preloader__number__text 0%

.overlay
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
    .overlay__line
