.portfolio {
  background-color: $color-white;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: opacity 0.8s $ease-in-out;
  will-change: opacity;

  &--active {
    opacity: 1;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }
}

.portfolio__wrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
  will-change: transform;
  background-color: $color-white;
}

.portfolio__banner {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;

  &__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
}

// slider

ul.portfolio__list {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  li.portfolio__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 20vw;
    height: 100%;
    overflow: hidden;
    @extend %center;
    padding: 0 5vw;

    h1 {
      background-color: red;
      width: 100%;
    }
  }
}
