.portfolio {
  background-color: $color-white;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: opacity 0.8s $ease-in-out;
  will-change: opacity;

  &--active {
    opacity: 1;

    .portfolio__item__pic__wrapper {
      &::after {
        transform: scaleY(0);
      }
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }
}

.portfolio__wrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
  will-change: transform;
  background-color: $color-white;
}

.layer__changer__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;

  button {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 30vh;
    left: 5%;
    pointer-events: all !important;
    transition: all 0.5s ease;
    @extend %link;

    &.active {
      color: $color-white;
    }

    &:hover {
      color: $color-theme;
    }
  }
}

.portfolio__banner {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: absolute;

  &__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: all 1s $ease-in-out;

    &.active {
      opacity: 0;
      visibility: hidden;

      ul {
        li {
          a {
            figure {
              &::after {
                transform: scaleY(1) !important ;
              }
            }
          }
        }
      }
    }
  }
}

// slider

ul.portfolio__list {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: center;
  transform: rotate(-30deg);

  &.is-dragging {
    li.portfolio__item {
      figure {
        transform: scale(0.95) !important;

        img {
          filter: grayscale(0);
          transform: scale(1.1);
        }
      }
    }
  }

  li.portfolio__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40vw;
    height: 100vw;
    overflow: hidden;
    @extend %center;
    align-items: flex-start;
    padding: 8vw 5vw;

    a {
      width: 100%;
      height: fit-content;
    }

    figure {
      width: 100%;
      height: fit-content;
      max-height: 80vh;
      overflow: hidden;
      transform-origin: center;
      transition: all 0.5s ease;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: $color-white;
        transform-origin: top;
        transition: all 0.9s ease;
      }

      &:hover {
        img {
          transform: scale(1.05);
          filter: grayscale(0);
        }
      }

      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
        transform-origin: center;
        filter: grayscale(1);
        transition: all 0.7s ease;
      }
    }
  }
}
.slides__titles__wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  pointer-events: none;

  .slides__title__wrapper {
    width: 20vw;
    height: fit-content;
    position: absolute;
    bottom: 5vh;
    right: 5vw;

    &.active {
      p,
      h1 {
        .word {
          .char {
            transform: translateY(-10%) !important;
            opacity: 1 !important;
          }
        }
      }
    }

    p,
    h1 {
      line-height: 1;
      .word {
        overflow: hidden;
        .char {
          transform: translateY(100%);
          opacity: 0;
          transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          // transition: all 0.6s ease;
          transition-delay: calc(0ms + var(--char-index) * 15ms) !important;
        }
      }
    }

    p {
      color: rgba($color: $color-black, $alpha: 0.5);
    }
  }
}

.portfolio__banner__list {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: $color-black;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: all;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 1s $ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .portfolio__banner__list__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    ul {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 10;
      pointer-events: all;

      &.infinite__reverse__list {
        pointer-events: none;
        color: $color-white;
        z-index: -1;
        transform-origin: center;
        transform: rotate(180deg);

        &.is-dragging {
          li {
            figure {
              transform: scale(0.9) !important;
            }
          }
        }

        &.active {
          li {
            figure {
              &::after {
                transform: scaleX(0) !important;
              }
            }
          }
        }

        li {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 40vh;
          text-align: center;
          display: flex;
          align-items: center;
          padding: 2.5vh 5vw;

          &.center {
            justify-content: center;
          }
          &.end {
            justify-content: flex-end;
          }

          figure {
            width: fit-content;
            height: 100%;
            overflow: hidden;
            transform-origin: center;
            transition: all 0.7s ease;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background-color: $color-black;
              transform-origin: left;
              transition: all 0.7s ease;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform-origin: center;
              transform: rotate(-180deg);
            }
          }
        }
      }

      &.infinite__drive__list {
        &.active {
          li {
            a {
              opacity: 1;
            }
          }
        }
      }

      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12rem;
        text-align: center;

        a {
          font-size: 10rem;
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: 1px;
          font-family: $font-a;
          color: $color-white;
          transition: all 1s ease;
          transform-origin: center;
          opacity: 0;

          &:hover {
            color: $color-theme;
          }
        }
      }
    }
  }
}
