%link__wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

%link__line {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: transform 0.7s $ease-in-out;
  width: 100%;
}

%link__line--visible {
  transform: scaleX(1);
  transform-origin: left center;
}

%link__line--hidden {
  transform: scaleX(0);
  transform-origin: right center;
}

%link {
  @extend %link__wrapper;

  // display: inline-block;
  line-height: 1.05;
  padding: 0.4rem 0;

  &:after {
    @extend %link__line;
    @extend %link__line--hidden;
  }

  &:hover,
  &:focus {
    &:after {
      @extend %link__line--visible;
    }
  }
}

%link--hidden {
  @extend %link__wrapper;

  display: inline-block;
  line-height: 1.05;

  &:after {
    @extend %link__line;
    @extend %link__line--hidden;
  }

  &:hover,
  &:focus {
    &:after {
      @extend %link__line--visible;
    }
  }
}

.hover__btn {
  @extend %link;
}

%btn-size {
  @extend %link;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
}

%big-btn {
  @extend %link;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
}

.main__btn {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.2;
  position: relative;
  transition: color 0.5s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    z-index: 1;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.5s $ease-in-out;
  }

  &:hover {
    &::after {
      transform-origin: right;
      transform: scaleX(0);
    }
  }
}
