%section {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  padding: 10vh 0;
  overflow: hidden;
  position: relative;
}

%innerSection {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
}
