.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: difference;

  & .container {
    max-width: 90%;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    @extend %flex-row-space;
    padding: 2rem 0;
    pointer-events: none;
  }

  & a,
  & button {
    pointer-events: all !important;
    cursor: pointer;
    color: $color-white;
  }

  & .logo {
    @extend %description-32;
    font-weight: 600;
    font-family: $font-a;
    transition: color 0.2s;
    letter-spacing: 2px;

    &:hover {
      color: $color-theme;
    }
  }
}

.hamb__btn {
  @extend %btn-size;
}

// hamb menu

.hamb__menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  transform-origin: top center;
  background: $color-gray;
  transform: scaleY(0);
  transition: all 1s $ease-in-out;

  &.active {
    transform: scaleY(1);
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @extend %flex;
    align-items: center;
    justify-content: center;

    .hamb__images__wrapper,
    .hamb__btns {
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .hamb__btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 10vw;

      ul {
        width: 100%;
        height: fit-content;

        &.hamb__list {
          @extend %flex-row-space;
          width: 80%;
          height: fit-content;
          margin-top: 8rem;

          li {
            a {
              @extend %btn-size;
              color: rgba($color: $color-white, $alpha: 1);
            }
          }
        }

        a {
          overflow: hidden;

          .word {
            transform: translateY(110%);
            opacity: 0;
          }
        }

        .hamb__link__wrapper {
          a {
            @extend %big-btn;
          }
        }

        &.hamb__contact__wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin-top: 4rem;

          .hamb__contact__link__wrapper {
            @extend %btn-size;
            color: rgba($color: $color-white, $alpha: 0.5);
          }
        }
      }
    }

    .hamb__images__wrapper {
      @extend %center;
      &__inner {
        width: 30vw;
        height: 70vh;
        position: relative;
        overflow: hidden;

        .images__wrapper__block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
          background-color: $color-gray;
          transform-origin: bottom;
          transition: all 0.7s $ease-in-out;
          transition-delay: 0.4s;

          &.active {
            transform: scaleY(0);
          }
        }

        figure {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: center;
            transform: rotate(-20deg) scale(1.5);
            filter: grayscale(10) blur(4px);
            transition: transform 0.8s ease, opacity 0.6s ease,
              filter 0.55s ease;
            opacity: 0;
          }

          &.active {
            z-index: 2;

            img {
              opacity: 1;
              transform: rotate(0) scale(1);
              opacity: 1;
              filter: grayscale(0) blur(0);
            }
          }
        }
      }
    }
  }
}
