.preloader {
  @extend %cover;
  @extend %center;
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  z-index: 201;
  will-change: transform;
  padding: 5vw;
  position: relative;
  @extend %flex;
  align-items: flex-end;
  justify-content: center;
}

.preloader__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  @extend %center;

  .preloader__text__wrapper {
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    h1 {
      font-size: 8rem;
      font-weight: 500;
      font-family: $font-a;
      line-height: 1;
      letter-spacing: 1px;
    }
  }
}

.preloader__number {
  @extend %title-10;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.preloader__number__text {
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  svg.transition {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .path {
      opacity: 0;
    }
  }
}
