$color-gray: #0d0e13;
$color-light: rgba(255, 257, 259, 0.6);
$color-white: #fff;
$color-black: #000000;
$color-footer: #070707;
$color-theme: #e0ccbb;

$font-a: "Ampersand", sans-serif;
$font-b: "Lausanne";
$font-c: "Poppins", sans-serif;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: ("preloader", "transition", "navigation", "content", "canvas");
