// @font-face {
//   font-family: "Bolkit";
//   src: url("../fonts/bolkit.woff2") format("woff2"),
//     url("../fonts/bolkit.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

@font-face {
  font-family: "Ampersand";
  src: url("../fonts/ampersand.woff2") format(woff2),
    url("../fonts/ampersand.woff") format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("../../fonts/Lausanne-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
