extends ../base.pug

block variables
    - var template = 'portfolio'

block body
    .portfolio(data-background="" data-color="")
        //- Scroll wrapper
        .portfolio__wrapper
            .portfolio__banner
                .portfolio__banner__inner
                    h1 hi from portfolio
